 <div class="card" style="padding:15px;max-width:400px;"> 
   <h3 class="text-uppercase">ID: <%= customer.id%> </h3>
    <p class="text-secondary"><%= customer.email%> </p>
    <p class="text-secondary"><%= customer.created_at%> </p>
     <p class="text-secondary"><%= customer.updated_at%> </p>
    <%= link_to "ver mas" , customer%>
    </div>