<h1>id: <%=@customer.id%> </h1>
<h1>email: <%=@customer.email%> </h1>
<h2>created: <%=@customer.created_at%></h1>
<h2>updated: <%=@customer.updated_at%></h1>

<div>
    <%=link_to "delete customer", @customer, method: :delete%>
    
</div>